<a href="https://colab.research.google.com/github/njy-mbc/Python25Study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 숫자형
# Number타입 : 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다

a = 123
print(a)

123

In [3]:
# 정수형
a = 123

print(a)

a = -178

print(a)

a = 0

print(a)

123
-178
0

In [5]:
#실수형

a = 1.2

print(a)

a = -3.45

print(a)

a = 4.24E10

print(a)

a = 4.24e-10

print(a)

1.2
-3.45
42400000000.0
4.24e-10

In [8]:
# 8진수, 16진수

a = 0o177

print(a)

a = 0x8ff
b = 0xABC

print(a)
print(b)

127
2303
2748

In [20]:
# 사칙연산

a = 3
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)

# 제곱

print(a ** b)

# 나머지

print(7 % 3)
print(3 % 7)

# 몫(나눗셈)
print(7 // 4)

# 복합 연산자
a = 1

a += 1
print(a)

a *= 2
print(a)

7
-1
12
0.75
81
1
3
1
2
4

In [42]:
# 문자열

food = "Python's favorite food is perl"

say = '"Python is very easy. " he says.'

print(say)

food = 'Python\'s favorite food is perl'
print(food)
say = "\"Python is very easy. \" he says"
print(say)

# 이스케이프 코드(\n)
multiline = "\nLife is too short\nYou need python"

print(multiline)

head = "Python"
tail = " is fun!"
print(head + tail)

print(head * 16)

print("=" * 50)
print("My script")
print("=" * 50)

a = "Life is too short"
len(a)

"Python is very easy. " he says.
Python's favorite food is perl
"Python is very easy. " he says

Life is too short
You need python
Python is fun!
PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython
==================================================
My script
==================================================

17

In [60]:
# 문자열 인덱싱

a = "Life is too short, You need Python"
print(a[3])

print(a[-1])
print(a[12])
print(a[0])

# 문자열 슬라이싱

b = a[0] + a[1] + a[2] + a[3]
print(b)

print(a[0:4])
print(a[0:5])

print(a[9:])
print(a[:9])

a[:]

# 슬라이싱으로 문자열 나누기

d = "20230331Rainy"
date = d[:8]
weather = d[8:]
print(date)
print(weather)

year = d[:4]
day = d[4:8]
weather = d[8:]

print(year)
print(day)
print(weather)

a = "Pithon"
a[:1] + 'y' + a[2:]

e
n
s
L
Life
Life
Life
oo short, You need Python
Life is t
20230331
Rainy
2023
0331
Rainy

'Python'

In [66]:
# 문자열 포매팅

str = "현재 온도는 %d도 입니다" % 20
print(str)

tmp = 30
str =   "현재 온도는 %d도 입니다" % tmp
print(str)

numbers = 3
days = 10
str = "사과를 %d개 먹고 %d일간 아팟다" % (numbers, days)
print(str)

str = "rate is %f" % 3.192848
print(str)

str = "rate is %s" % 3.192848
print(str)

현재 온도는 20도 입니다
현재 온도는 30도 입니다
사과를 3개 먹고 10일간 아팟다
rate is 3.192848
rate is 3.192848

In [95]:
str = "%10s" % "hi"
print(str)

str = "%-10sjane" % "hi"
print(str)

# 소수점 표현
str = "%0.4f" % 3.434343
print(str)

str = "%10.4f" % 3.434343
print(str)

# format 함수를 사용한 포매팅
str = "I ate {0} apples".format(5)
print(str)

str = "I ate {0} apples".format("five")
print(str)

number = 10
str = "I ate {0} apples".format(number)
print(str)

number = 10
day = "three"
str = "I ate {0} apples. so I was sick for {1} days".format(numbers, day)
print(str)

str = "I ate {number} apples. so I was sick for {day} days".format(number = 10, day = 3)
print(str)

print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))

print("{0:=^10}".format("hi"))
print("{0:!>10}".format("hi"))

# 소수점 표현하기
y = 3.4213423
"{0:0.4f}".format(y)

name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다')
print(f'내년이면 {age + 1}살이 됩니다')

d = {'name':'간장', 'age':60}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다')

# 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

print(f"난 {1500000:,}원이 필요해")

        hi
hi        jane
3.4343
    3.4343
I ate 5 apples
I ate five apples
I ate 10 apples
I ate 3 apples. so I was sick for three days
I ate 10 apples. so I was sick for 3 days
hi
        hi
    hi
====hi====
!!!!!!!!hi
나의 이름은 홍길동입니다. 나이는 30입니다
내년이면 31살이 됩니다
나의 이름은 간장입니다. 나이는 60입니다
hi
        hi
    hi
난 1,500,000원이 필요해

In [115]:
# 문자열 관련 함수들

a = "hobby"
print(a.count('b'))

a = "Python is the best choice"
print(a.find('b'))
print(a.find('choice'))

a = "Life is too short"
a.index('t')

# 문자열 삽입
print(",".join('acdc'))

# 소문자 -> 대문자
a = "hi"
print(a.upper())

# 대문자 -> 소문자
a = "HI"
print(a.lower())

# 왼쪽 공백 지우기
a = "     a     "
print(a.lstrip())

# 오른쪽 공백 지우기
a = "   b   "
print(a.strip())

# 문자열 바꾸기

a = "Life is too short"
a.replace("Life", "Your dick")

# 문자열 나누기
a = "Life is too short"
a.split()

b = "a,c,d,c"
b.split(',')

# 특정 문자열 시작
s = "Life is too short"
print(s.startswith("Life"))

# 특정 문자열 끝
print(s.endswith("short"))
print(s.endswith("Life"))

2
14
19
a,c,d,c
HI
hi
a
b
True
True
False

In [132]:
# 리스트 자료형

odd = [1,3,5,7,9]

odd

# 리스트 인덱싱
a = [1,2,3]
print(a[0] + a[2])

a = [1,2,3, ['a', 'b', 'c']]
print(a)
a[3]

# 리스트 슬라이싱
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

a = [1,2,3]
b = [4,5,6]
print((a + b) * 3)

4
[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]