<a href="https://colab.research.google.com/github/njy-mbc/Python25Study/blob/main/%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 제어문(if)

money = True

if money:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
# 비교 연산자
money = 2000

if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
# and, or, not

money = 2000
card = True

if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
# in, not in
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

if 'money' in pocket:
  pass
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
pocket = ['paper', 'cellphone']
card = True

if 'money' in pocket:
  print("택시를 타고 가라")
elif card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
# 제어문(while)

hit = 0
while hit < 10:
  hit += 1
  print(f"나무를 {hit}번 찍었습니다")
  if(hit == 10):
    print("나무가 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갑니다

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

num = 0

while num != 4:
  print(prompt)
  num = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
6

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [ ]:
coffee_stock = 10
money = 300

while money:
  print("커피가 나왔습니다")
  coffee_stock -= 1
  print(f"남은 커피는 {coffee_stock}잔 입니다")
  if coffee_stock == 0:
    print("커피 재고가 없습니다. 판매를 종료합니다")
    break

커피가 나왔습니다
남은 커피는 9잔 입니다
커피가 나왔습니다
남은 커피는 8잔 입니다
커피가 나왔습니다
남은 커피는 7잔 입니다
커피가 나왔습니다
남은 커피는 6잔 입니다
커피가 나왔습니다
남은 커피는 5잔 입니다
커피가 나왔습니다
남은 커피는 4잔 입니다
커피가 나왔습니다
남은 커피는 3잔 입니다
커피가 나왔습니다
남은 커피는 2잔 입니다
커피가 나왔습니다
남은 커피는 1잔 입니다
커피가 나왔습니다
남은 커피는 0잔 입니다
커피 재고가 없습니다. 판매를 종료합니다

In [ ]:
stock = 2
money = 0

while True:
  if stock == 0:
    print("재고가 소진되었습니다. 판매를 종료합니다")
    break

  if money == 0 or money < 300:
    money += int(input(f"돈을 넣어주세요(잔액:{money}) : "))

  if money >= 300 and stock > 0:
    print("커피가 나왔습니다")
    money -= 300
    stock -= 1
    print(f"재고 : {stock}\n")

돈을 넣어주세요(잔액:0) : 300
커피가 나왔습니다
재고 : 1
돈을 넣어주세요(잔액:0) : 300
커피가 나왔습니다
재고 : 0
재고가 소진되었습니다. 판매를 종료합니다

In [ ]:
a = 0

while a < 10:
  a += 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

In [ ]:
count = 0
limit = 10

while count < limit:
  print(f"count : {count}")
  count += 1
else:
  print("while문이 종료되었습니다")

count : 0
count : 1
count : 2
count : 3
count : 4
count : 5
count : 6
count : 7
count : 8
count : 9
while문이 종료되었습니다

In [ ]:
i = 1

while i <= 3:
  j = 1
  while j <= 3:
    print(f"i = {i}, j = {j}")
    j += 1
  i += 1

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

In [1]:
# 제어문(for)

lst = ['one', 'two', 'three']

for str in lst:
  print(str)

one
two
three

In [4]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [6]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다," % number)
  else:
    print("%d번 학생은 불합격입니다," % number)

1번 학생은 합격입니다,
2번 학생은 불합격입니다,
3번 학생은 합격입니다,
4번 학생은 불합격입니다,
5번 학생은 합격입니다,

In [7]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
  number = number + 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다" % number)

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [10]:
# range for문

sum = 0

for i in range(1, 11):
  sum += i

print(sum)

55

In [11]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print(f"{number + 1}번 학생 축하합니다. 합격입니다")

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [12]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [13]:
a = [1,2,3,4]
result = []

for num in a:
  result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [15]:
for i in range(0, 10):
  if i == 5:
    break;
  print(i)

0
1
2
3
4

In [17]:
for i in range(1, 10):
    print(i)
else:
  print("정상종료 되었습니다")

1
2
3
4
5
6
7
8
9
정상종료 되었습니다

In [18]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits):
  print(f"{i}: {fruit}")

0: apple
1: banana
2: orange

In [20]:
names = ['홍길동', '김철수', '이영희']
scores = [85, 92, 78]

for name, score in zip(names, scores):
  print(f"{name} : {score}점")

홍길동 : 85점
김철수 : 92점
이영희 : 78점

In [22]:
names = ['홍길동', '김철수', '이영희']
scores = [85, 92, 78]
english = [90, 88, 95]

for name, score, eng in zip(names, scores, english):
  print(f"{name} : 국어 {score}점, 영어 {eng}점")

홍길동 : 국어 85점, 영어 90점
김철수 : 국어 92점, 영어 88점
이영희 : 국어 78점, 영어 95점