<a href="https://colab.research.google.com/github/njy-mbc/Python25Study/blob/main/%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 집합

s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [5]:
s3 = {1,2,3}
print(s3)

s4 = {'a', 'b', 'c'}
print(s4)

{1, 2, 3}
{'a', 'b', 'c'}

In [9]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

In [19]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
s1.union(s2)

# 차집합
print(s1 - s2)
print(s2 - s1)

print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [23]:
# 집합 자료형 함수

## 값 1개 추가하기 - add
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [24]:
## 값 여러개 추가하기

s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [30]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

s1.remove(4)
print(s1)

{1, 3}

KeyError: 4

In [31]:
# 특정 값 제거하기 - discard
s1 = set([1,2,3])
s1.discard(2)
print(s1)

s1.discard(4)
print(s1)

{1, 3}
{1, 3}

In [32]:
# 모든 값 제거하기 - clear
s1 = set([1,2,3])
print(s1)

s1.clear()
print(s1)

{1, 2, 3}
set()