<a href="https://colab.research.google.com/github/njy-mbc/Python25Study/blob/main/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 함수

def add(a, b):
  return a + b

num1 = 3
num2 = 4

print(int(add(num1, num2)))

7

In [8]:
def say():
  return 'Hi'

a = say()

print(a)

Hi

In [9]:
def sub(a, b):
  return a - b

result = sub(7, 3)
print(result)

4

In [12]:
def print_many(*args):
  result = 0
  for i in args:
    print(i)

list = range(1, 10)

print_many(list)

range(1, 10)

In [15]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result += i
  elif choice == "mul":
    result = 1
    for i in args:
      result *= i
  return result

result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [18]:
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)

print_kwargs(name = 'foo', age = 3)
print_kwargs(name = '홍길동', age = 25, city = '서울', job = '개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [20]:
def create_profile(**info):
  print("===프로필 정보===")
  for key, value in info.items():
    print(f"{key}: {value}")

create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

===프로필 정보===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [24]:
def say_myself(name, age, man=True):
  print("나의 이름은 %s 입니다" % name)
  print("나이는 %d살입니다." % age)
  if man:
    print("남자입니다")
  else:
    print("여자입니다")

say_myself("박응용", 27)
say_myself("박응용", 29, False)

나의 이름은 박응용 입니다
나이는 27살입니다.
남자입니다
나의 이름은 박응용 입니다
나이는 29살입니다.
여자입니다

In [25]:
def add(a,b):
  """
    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합
  """
  return a + b

print(add.__doc__)

    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합